
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "sidebar";

.title {
    font-size: 72px;
    margin-bottom: 40px;
    text-align:center;
}

.panel-login,
.panel-register,
.panel-forgot {
  margin-top: 10em;
}